h1 {
  color: rgb(233, 203, 147);
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
  color: rgb(226, 128, 145);
}

body {
  background-color: rgb(231, 205, 209);
}

.orange {
  color: rgb(233, 203, 147);
 }

 .pink {
background-color: palevioletred;
border: 30px;
text-align: center;
 }

 img {
  width: 10%;
  margin: 3px;
  border: 10px solid purple;
  padding:auto;
  float: left;
  box-sizing: border-box;
 }
 .donate {
  border: 2px solid rgb(238, 157, 64);
  background-color: rgb(255, 193, 174);
 }

 .bio {
border: 2px dashed palevioletred;
margin-bottom: 2px;
 }

